DB_HOST=localhost
DB_PORT=5432
DB_USER=user
DB_PASS=pass
DB_NAME=task_manager_db

JWT_EXPIRES_IN=3600
JWT_SECRET=secret

NODE_ENV = 'production'
PORT = 5000
DB_SECURE= 'development'

REDIS_HOST=localhost
REDIS_PORT=6379